* {
  font-family: 'VT323', monospace;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fdf2db;
  gap: 50px;
}

h1 {
  font-size: 6rem;
  text-align: center;
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: 50px;
  line-height: 1;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px;
  margin: 10px 0;
  width: 200px;
  background-color: transparent;
  border: 4px solid var(--screen-color, #73c700);
  color: var(--screen-color, #73c700);
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background-color: var(--screen-color, #73c700);
  color: #f7f0e0;
}

.console-wrapper {
  position: relative;
  width: 700px;
  height: 700px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.2s ease;
  flex-shrink: 0;
}

.screen-text {
  color: var(--screen-color);
  position: absolute;
  top: 15%;
  left: 18%;
  width: 64%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.timer-display {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  line-height: 1;
}

input#minutes-input {
  background: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  width: 2ch;
  text-align: right;
  padding: 0;
  margin: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Green */
body.skin-1 {
  --screen-color: #73c700;
}
body.skin-1 .console-wrapper {
  background-image: url('/images/3.png');
}

/* Blue */
body.skin-2 {
  --screen-color: #007198;
}
body.skin-2 .console-wrapper {
  background-image: url('/images/1.png');
}

/* Purple */
body.skin-3 {
  --screen-color: #521481;
}
body.skin-3 .console-wrapper {
  background-image: url('/images/4.png');
}

/* Yellow */
body.skin-4 {
  --screen-color: #f5af00;
}
body.skin-4 .console-wrapper {
  background-image: url('/images/2.png');
}
